<p-dialog [(visible)]="show" [modal]="true" [style]="{width: '30vw'}" [draggable]="false"
  [resizable]="false" [closable]="false">
  <p-header>
    <h1 class="p-text-center">Hypermap</h1>
    <hr style="opacity: 20%;">
  </p-header>
  <h2 class="p-text-center">Interactive Air Quality Map</h2>
  <button pButton type="button" id="getStartedButton" label="Get Started!" class="p-button-lg" (click)="closeModal()"></button>

  <p-footer>
    <hr style="opacity: 20%;">
    <div id="color-blind-toggle">
      <label for="color-blind-dropdown">Color Scheme:</label>
      <p-dropdown [options]="colorSchemes" [(ngModel)]="activeColorScheme" (onChange)=colorChange($event) optionLabel="label" id="color-blind-dropdown"></p-dropdown>
    </div>
  </p-footer>
</p-dialog>
